<!--
  Generated template for the TeacherHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{teacher_name}}的本周课程</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row style="background: lightsteelblue">
        <button style="margin-left: 5px" ion-button color="light-blue" (click)="toTeacherManagePage()">管理</button>
        <ion-label style="text-align: center">{{teacher_name}}的本周课程</ion-label>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <!-- 课程数据 -->
      <ion-col style="width: 9%">
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 40px">1</ion-row>
        <ion-row style="height: 40px">2</ion-row>
        <ion-row style="height: 40px">3</ion-row>
        <ion-row style="height: 40px">4</ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 40px">5</ion-row>
        <ion-row style="height: 40px">6</ion-row>
        <ion-row style="height: 40px">7</ion-row>
        <ion-row style="height: 40px">8</ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 40px">9</ion-row>
        <ion-row style="height: 40px">10</ion-row>
        <ion-row style="height: 40px">11</ion-row>
        <ion-row style="height: 40px">12</ion-row>
      </ion-col>


      <ion-col style="width: 13%">
        <ion-row style="height: 40px; text-align: center">周一</ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期一','1-2节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期一','1-2节'))">{{courseExist('星期一','1-2节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期一','3-4节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期一','3-4节'))">{{courseExist('星期一','3-4节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期一','5-6节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期一','5-6节'))">{{courseExist('星期一','5-6节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期一','7-8节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期一','7-8节'))">{{courseExist('星期一','7-8节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期一','9-10节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期一','9-10节'))">{{courseExist('星期一','9-10节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期一','11-12节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期一','11-12节'))">{{courseExist('星期一','11-12节')}}</button></ion-row>
      </ion-col>

      <ion-col style="width: 13%">
        <ion-row style="height: 40px; text-align: center">周二</ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期二','1-2节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期二','1-2节'))">{{courseExist('星期二','1-2节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期二','3-4节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期二','3-4节'))">{{courseExist('星期二','3-4节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期二','5-6节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期二','5-6节'))">{{courseExist('星期二','5-6节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期二','7-8节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期二','7-8节'))">{{courseExist('星期二','7-8节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期二','9-10节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期二','9-10节'))">{{courseExist('星期二','9-10节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期二','11-12节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期二','11-12节'))">{{courseExist('星期二','11-12节')}}</button></ion-row>
      </ion-col>

      <ion-col style="width: 13%">
        <ion-row style="height: 40px; text-align: center">周三</ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期三','1-2节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期三','1-2节'))">{{courseExist('星期三','1-2节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期三','3-4节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期三','3-4节'))">{{courseExist('星期三','3-4节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期三','5-6节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期三','5-6节'))">{{courseExist('星期三','5-6节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期三','7-8节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期三','7-8节'))">{{courseExist('星期三','7-8节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期三','9-10节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期三','9-10节'))">{{courseExist('星期三','9-10节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期三','11-12节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期三','11-12节'))">{{courseExist('星期三','11-12节')}}</button></ion-row>
      </ion-col>

      <ion-col style="width: 13%">
        <ion-row style="height: 40px; text-align: center">周四</ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期四','1-2节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期四','1-2节'))">{{courseExist('星期四','1-2节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期四','3-4节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期四','3-4节'))">{{courseExist('星期四','3-4节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期四','5-6节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期四','5-6节'))">{{courseExist('星期四','5-6节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期四','7-8节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期四','7-8节'))">{{courseExist('星期四','7-8节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期四','9-10节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期四','9-10节'))">{{courseExist('星期四','9-10节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期四','11-12节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期四','11-12节'))">{{courseExist('星期四','11-12节')}}</button></ion-row>
      </ion-col>

      <ion-col style="width: 13%">
        <ion-row style="height: 40px; text-align: center">周五</ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期五','1-2节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期五','1-2节'))">{{courseExist('星期五','1-2节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期五','3-4节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期五','3-4节'))">{{courseExist('星期五','3-4节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期五','5-6节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期五','5-6节'))">{{courseExist('星期五','5-6节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期五','7-8节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期五','7-8节'))">{{courseExist('星期五','7-8节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期五','9-10节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期五','9-10节'))">{{courseExist('星期五','9-10节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期五','11-12节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期五','11-12节'))">{{courseExist('星期五','11-12节')}}</button></ion-row>
      </ion-col>

      <ion-col style="width: 13%">
        <ion-row style="height: 40px; text-align: center">周六</ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期六','1-2节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期六','1-2节'))">{{courseExist('星期六','1-2节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期六','3-4节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期六','3-4节'))">{{courseExist('星期六','3-4节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期六','5-6节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期六','5-6节'))">{{courseExist('星期六','5-6节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期六','7-8节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期六','7-8节'))">{{courseExist('星期六','7-8节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期六','9-10节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期六','9-10节'))">{{courseExist('星期六','9-10节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期六','11-12节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期六','11-12节'))">{{courseExist('星期六','11-12节')}}</button></ion-row>
      </ion-col>

      <ion-col style="width: 13%">
        <ion-row style="height: 40px; text-align: center">周天</ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期天','1-2节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期天','1-2节'))">{{courseExist('星期天','1-2节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期天','3-4节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期天','3-4节'))">{{courseExist('星期天','3-4节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期天','5-6节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期天','5-6节'))">{{courseExist('星期天','5-6节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期天','7-8节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期天','7-8节'))">{{courseExist('星期天','7-8节')}}</button></ion-row>
        <ion-row style="height: 40px"></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期天','9-10节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期天','9-10节'))">{{courseExist('星期天','9-10节')}}</button></ion-row>
        <ion-row style="height: 80px"><button style="height: 100%" *ngIf="courseExist('星期天','11-12节') != ''" ion-button color="light-blue" (click)="attendance(courseExist('星期天','11-12节'))">{{courseExist('星期天','11-12节')}}</button></ion-row>
     </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
