page-student-home {
  .col{
    background: lightsteelblue;
    border: think solid white;
  }

  .button{
    word-wrap: break-word !important;
    word-break: break-all !important;
    white-space: normal !important;
  }
}
