<!--
  Generated template for the StudentLeaveApplyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>请假申请</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label style="font-size: large">请假类型</ion-label>
    </ion-item>
    <label for="group1"><input type="radio" id="group1" class="group"  name="group" value="1" ng-model="choice" >
      <span style="font-size: medium">事假</span>
    </label><br>
    <label for="group2"><input type="radio" id="group2" class="group" name="group" value="2" ng-model="choice" >
      <span style="font-size: medium">病假</span>
    </label><br>
    <label for="group3"><input type="radio" id="group3" class="group" name="group" value="3" ng-model="choice" >
      <span style="font-size: medium">其他</span>
    </label>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label style="font-size: large">请假时间</ion-label>
    </ion-item>
    <ion-input placeholder="请填写请假时间" style="height: 30px;width: auto;font-size: medium"></ion-input>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label style="font-size: large">请假事由</ion-label>
    </ion-item>
    <ion-input placeholder="请填写请假理由" style="height: 90px;width: auto;font-size: medium"></ion-input>
  </ion-list>
  <div class="row">
    <button type="submit" ion-button block color="primary">提交</button>
  </div>
</ion-content>
